.gradient-custom-3 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 0.5),
    rgba(143, 211, 244, 0.5)
  );
}
.gradient-custom-4 {
  /* fallback for old browsers */
  background: #84fab0;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(132, 250, 176, 1),
    rgba(143, 211, 244, 1)
  );
}

/*centering the text*/
.middle {
  margin-top: 30%;
  margin-left: 25%;
}

/*invest and business buttons*/
#invest {
  margin-top: 5%;
  margin-right: 10%;
}
#business {
  margin-top: 5%;
  margin-right: 10%;
}

.tagBusiness {
  margin-bottom: 5%;
}
.formBusiness {
  margin-left: 25%;
  margin-top: 10%;
  width: 50%;
}

.fundingBusiness {
  margin-top: 4%;
}

.titleBusiness {
  margin-top: 8%;
}

#fundingAmount {
  width: 25%;
}

.float-containerTop {
  margin-top: 10%;
  padding: 20px;
  margin-bottom: 40%;
}
.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px;
}
