<%- include ('partials/header'); -%>
<section id="investorbusiness">
    <div class = "container">
      <div class='row col-lg-12 text-center'>             
        <div class="col-lg-6 windowbox middle">
            <div class="form-group">
                <!-- <input type="number" class="form-control" id="Initialize" placeholder="Initialize"> -->
                <br>
                <h1>Hey <span id="nameVar"><%=nameofCustomer%></span>! What would you like to do?</h1>
                <button type="button" id="invest" class="btn btn-info">Invest</button>
                <button type="button" id="business" class="btn btn-info">Raise Funds</button>
            </div>
        </div>
      </div>
    </div>
  </section>
<%- include ('partials/footer'); -%>